<div data-role="view" data-title="Add" data-model="app.mapViewView.addItemViewModel" data-bind="events: { show: onShow }" id="mapViewViewModelAddItemView">
    <header data-role="header">
        <div data-role="navbar" class="header-text">
            <span style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis; text-align: center; display: block; margin-left: 70px; margin-right: 70px;" data-role="view-title"></span>
            <a data-role="backbutton" data-align="left">Cancel</a>
            <a data-role="button" data-align="right" data-bind="events: { click: onSaveClick }">Save</a>
        </div>
    </header>
    <!-- START_CUSTOM_CODE_mapViewViewModel -->
    <!-- END_CUSTOM_CODE_mapViewViewModel -->
    <div id="editableListForm2e5df40786f7c5a9" class="form-view">
        <form>
            <ul class="form-content" data-role="listview" data-style="inset">
                <li>

                    <label>Ttitle
                        <input id="editableListFormFielde2b8e8f9d9107895" data-bind="value: addFormData.editableListFormFielde2b8e8f9d9107895" placeholder="Title" type="text">
                    </label>

                </li>
            </ul>
        </form>
        <!-- START_CUSTOM_CODE_editableListForm2e5df40786f7c5a9 -->
        <!-- END_CUSTOM_CODE_editableListForm2e5df40786f7c5a9 -->
    </div>
</div>