
/* START_CUSTOM_CODE_kendoUiMobileApp */
#map {
	width: 100%;
	height: auto;
}

.mapView {
	margin: 0; 
	padding: 0;
}

.itemDetails {
	position: fixed;
    top: 300px;
    left: 0px;
    z-index: 1;
    background: white;
}

/* Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes */


/* END_CUSTOM_CODE_kendoUiMobileApp */